<header class="intro-header" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>PainHex's Playground</h1>
                    <hr class="small">
                    <span class="subheading">{{header_text}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
