<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="/test-yourself">Test Yourself</a>
                </li>
            </ul>
        </div>
    </div>
</nav>