<!DOCTYPE>
<html>

{{> base_page}}

<body>

{{> navbar}}

{{> header header_text="Welcome to PainHex's Domain" }}

<div class="container">

    {{#each data}}

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/post">
                        <h2 class="post-title">
                            {{title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{sub_heading}}
                        </h3>
                    </a>
                </div>
                <hr>
            </div>
        </div>

        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p>{{body}}</p>
                    </div>
                </div>
            </div>
        </article>

    {{/each}}

    <!-- modal example -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#postModal">New Post</button>

    <div id="postModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a new blog post.</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="postForm">
                        <div class="form-group">
                            <label for="postTitleInput">Title</label>
                            <input type="text" class="form-control"
                                   id="postTitleInput" placeholder="Title"/>
                        </div>
                        <div class="form-group">
                            <label for="postSubTitleInput">Sub-Heading</label>
                            <input type="text" class="form-control"
                                   id="postSubTitleInput" placeholder="Sub-Heading"/>
                        </div>
                        <div class="form-group">
                            <label for="postContentInput">Content</label>
                            <textarea class="form-control" id="postContentInput" placeholder="Content"></textarea>
                        </div>
                        <button type="button" class="btn btn-default" onclick="submitForm()">Save Post</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
    -->
</div>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/default-blog.min.js"></script>

<script type="text/javascript">
    function submitForm() {
        // Initiate Variables With Form Content
        var data = {
            'title': $('#postTitleInput').val(),
            'sub_heading': $('#postSubTitleInput').val(),
            'content': $('#postContentInput').val()
        };

        $.ajax({
            type: "POST",
            url: "/create_post",
            data: JSON.stringify(data),
            dataType: "json",
            success: function () {
                $('#postModal').modal('hide')
            },
            error: function () {
                $('#postModal').modal('hide')
            }
        });
    }
</script>

</body>

</html>
{{~> parent~}}